---
# Main SASS File
---

@import "bourbon/bourbon";
@import "neat/neat";
@import "fonts";
@import "colors";
@import "base/base";

header {
  background-color: $accent-color;
  color: $base-color;
}

body {
  background-color: $base-color;
  margin: 0;
}

div {
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: .5em;
  @include outer-container;

  h1, h2 {
    margin: 0;
    padding: .25em 0 .25em 0;
  }

}

#content {
  @include outer-container;
  h2 {
    padding: .5em 0 0 0;
  }
}

#about {
}

#team {
}
